@{
    ViewBag.Title = "Forge Fitness - Siłownia";
}

<div class="hero text-center text-white">
    <div class="container">
        <h1 class="display-3 fw-bold mb-4">PRZEKROCZ SWOJE GRANICE</h1>
        <p class="lead mb-5 fs-4">Nowoczesna siłownia • Profesjonalni trenerzy • Najlepszy sprzęt</p>
        <a href="/Home/Oferta" class="btn btn-primary-custom btn-lg me-3">Zobacz ofertę karnetów</a>
        <a href="/Home/Zajecia" class="btn btn-outline-light btn-lg">Sprawdź zajęcia grupowe</a>
    </div>
</div>

<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4">
            <i class="fas fa-dumbbell fa-3x text-danger mb-3"></i>
            <h4>Strefa Siłowa</h4>
            <p>Najwyższej jakości sprzęt Hammer Strength i Life Fitness</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-running fa-3x text-danger mb-3"></i>
            <h4>Cardio & Functional</h4>
            <p>Bieżnie, rowery, strefa crossfit</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-users fa-3x text-danger mb-3"></i>
            <h4>Zajęcia grupowe</h4>
            <p>Ponad 30 zajęć tygodniowo</p>
        </div>
    </div>
</div>